:host {
  font: normal 16px "Source Sans Pro", sans-serif, Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  height: 800px;
  max-width: 100%;
  color: #464547;
}

h1,
h2,
h3,
button {
  font-family: "Oswald", sans-serif;
}

.app-title {
  font-size: 3.25rem;
  line-height: 4rem;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
}

.app-subtitle {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif, Arial;
}

.app-section__members {
  display: flex;
}

.app-section__member-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 30px 40px 25px 30px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 70px;
  width: 315px;
  text-align: center;
}

.app-section__member-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.app-section__member-img {
  align-self: center;
  height: 150px;
  width: 150px;
  z-index: 10;
}

.app-section__member-review {
  min-height: 100px;
  max-width: 230px;
}

.app-section__member-name {
  color: #464547;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.app-section__member-position {
  align-self: center;
  width: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  line-height: 16px;
  color: #666666;
}

@media only screen and (max-width: 768px) {
  div.app-section__members > :not(:first-child) {
    display: none;
  }
}
